include /mixins/photo-bar
//- include /mixins/schema
extends /layouts/main

block meta
  +meta({
    title: 'Welcome to The Iron Yard',
    description: "We run an intensive code school, a startup accelerator, kids's programming classes, and organize tech conferences and events."
  })

block content
  +navigation({
    color: 'gray-dark',
    title: '',
    triangle: false,
    gradient: false,
    home: true,
  })
  .container-fluid.hero-banner-home
    .close-video
      img(src='/images/close-video.png')
    .vimeo(class="inactive")
    .container
      .col-xs-12
        h1 Learn to code.
        h3 Life's too short for the wrong career.
        a.btn.watch-video 
          img(src="/images/home/play-icon.png")
          span Watch the Video
  .container-fluid.gray-light-bg
    .container
      .row
        .col-xs-12.no-padding(style="text-align: center;")
          .media-logo
            a(href="http://theironyard.com/press"): img.photo(src="/images/home/media/atlantic-logo.png") 
          .media-logo
            a(href="http://theironyard.com/press"): img.photo(src="/images/home/media/fastco-logo.png")
          .media-logo
            a(href="http://theironyard.com/press"): img.photo(src="/images/home/media/cnn-logo.png") 
          .media-logo
            a(href="http://theironyard.com/press"): img.photo(src="/images/home/media/tc-logo.png")
          .media-logo
            a(href="http://theironyard.com/press"): img.photo(src="/images/home/media/abc-logo.png")
          .media-logo
            a(href="http://theironyard.com/press"): img.photo(src="/images/home/media/nbc-logo.png")
          .media-logo
            a(href="http://theironyard.com/press"): img.photo(src="/images/home/media/wsj-logo.png") 
          //- a(href="http://news.theironyard.com"): img.photo(src="/images/home/news/wall-street-journal.png" style="max-width:120px; max-height:90px;") 

  .container
    .row.stories-section
      .col-xs-12.col-sm-6
        .big-quote 
          h1 The Iron Yard is the beginning of a lifelong journey.
          p -Lance Putnam, Greenville, SC Front End Engineering Graduate
      .col-xs-12.col-sm-6
        p. We exist to create exceptional growth and mentorship for our students. Join people from all walks of life pursuing their dream of launching a career in technology.
        a.btn.read-stories(href="/stories") Read Our Student Stories

  .container-fluid.gray-light-bg.student-section
    .container
      .row
        .col-xs-12.col-sm-6.col-lg-3
          a(href="/stories/jeremy"): img(src="/images/home/student-jeremy.png")
          .student-copy
            h3.mobile-name Jeremy Butler
            p Mobile Engineering Student
            p Jeremy Butler toured the world playing music, but returned to his first love of programming through The Iron Yard. He is now developing applications for State Farm.
            a.mobile-link(href="/stories/jeremy") Read Jeremy's story
        .col-xs-12.col-sm-6.col-lg-3
          a(href="/stories/matt"): img(src="/images/home/student-bertino.png")
          .student-copy
            h3.fee-name Matt Bertino
            p Front End Engineering Student
            p Matt Bertino left a great job in big finance to pursue his dream of building a company. After graduating from The Iron Yard he joined our Digital Health accelerator program.
            a.fee-link(href="/stories/matt") Read Matt's story
        .col-xs-12.col-sm-6.col-lg-3
          a(href="/stories/michelle"): img(src="/images/home/student-michelle.png")
          .student-copy
            h3.design-name Michelle Child
            p Web Design Graduate
            p After working as an English teacher abroad, Michelle became enthralled with the web design industry. She joined The Iron Yard and found a job within weeks of graduation.
            a.design-link(href="/stories/michelle") Read Michelle's story
        .col-xs-12.col-sm-6.col-lg-3  
          a(href="/stories/astrid"): img(src="/images/home/student-astrid.png")
          .student-copy
            h3.rails-name Astrid Countee
            p Rails Engineering Graduate
            p Astrid Countee was a data analyst working in oil and gas when she decided to pursue her passion for building software. She now enjoys a succssful freelance career.
            a.rails-link(href="/stories/astrid") Read Astrid's story


  .container.code-school-section 
    .row(style='margin-bottom: 120px;')
      .col-md-7.col-xs-12
        h2 Intensive Code School
        p(style="margin-bottom: 0px;") The Iron Yard Academy teaches intensive, three-month courses that mentor you into a professional junior-level programmer. Our program goes far beyond tactical skills and teaches you to think like a software engineer. Programming is a lifelong study, and our process shows you to learn how to learn so you remain highly valuable for the rest of your career.
        a.btn.discover-courses(href="/courses") Discover Our Courses
      .col-md-5.col-xs-12(style="padding-top: 45px;") 
        img(src="/images/home/students-home.jpg")
        .caption Our students come from all walks of life. Join The Iron Yard family! 

  .container-fluid.gray-light-bg.courses
    .container.courses-section
      .row
        .course-box.fee-eng
          img(src="/images/home/fee-icon.png")
          .fee-header front end engineering
          p Learn to build in-browser apps in the Front End Engineering program using HTML, CSS and JavaScript and basic server-side tech. At the end of the class you’ll have the skills to create beautiful, fully functional websites and web applications.
          a.btn(href="/courses/front-end-engineering") find out more
        .course-box.web-design
          img(src="/images/home/wd-icon.png")
          .design-header web design
          p Learn Web Design from the ground up, including ideation, UI and UX design, front-end code and a whole lot more.
          a.btn(href="/courses/web-design") find out more
        .course-box.rails-eng
          img(src="/images/home/rails-icon.png")
          .rails-header rails engineering
          p Learn Ruby on Rails, one of the most popular server-side frameworks in the world. You’ll know how to build fast, production-quality full-stack apps.
          a.btn(href="/courses/rails-engineering") find out more
        .course-box.mobile-eng
          img(src="/images/home/mobile-icon.png")
          .mobile-header Mobile Engineering
          p Learn iOS app development using Xcode 5 and a whole lot of Objective-C. At the end of the class you’ll have the skills to create beautiful, fully functional iOS apps and the foundation to pursue building Mac apps.
          a.btn(href="/courses/mobile-engineering") find out more
        .course-box.python-eng
          img(src="/images/home/python-icon.png")
          .python-header Python Engineering
          p Learn to analyze data and publish insights using Python and machine learning. At the end of the class you’ll make magic happen with real-world data sets and you'll know how to build web apps to show off your wizardry.
          a.btn(href="/courses/python-engineering") find out more
        .course-box
          h2 now accepting applications
          a.btn.apply-now(href="https://theironyard.typeform.com/to/EcL2Zc") apply now
          br
          a.about-tuition(href="/courses/tuition") Learn about tuition

  .container
    .row
      .contact-container
        .questions
          .top-content
            h3 Questions? Get in touch.
            p We'd love to answer your questions. We also love explaining what makes us different and our friendly team members want to help you make the best choice possible for your career. Feel free to reach out digitally or call and talk to a human.
          .bottom-content
            a(href="mailto:academy@theironyard.com?subject=I have questions about The Iron Yard").email
              .content
                img(src="/images/home/email.png")
                h3 Email Us
            .chat
              .content
                img(src="/images/home/chat-icon.png")
                h3 Chat with Us
        .phone-numbers
          .chat-container(class="inactive")
            #olark-box-container
          ul
            li 
              p Atlanta:
              a(href="tel:+7707518046") (770) 751-8046
            li 
              p Austin:
              a(href="tel:+5125962939") (512) 596-2939
            li 
              p Charleston:
              a(href="tel:+8435012775") (843) 501-2775
            li 
              p Columbia:
              a(href="tel:+8038739299") (803) 873-9299
            li 
              p Durham:
              a(href="tel:+9195616055") (919) 561-6055
            li 
              p Greenville:
              a(href="tel:+8649520099") (864) 952-0099
            li 
              p Houston:
              a(href="tel:+7134253797") (713) 425-3797
          ul
            li 
              p Indianapolis:
              a(href="tel:+3172383988") (317) 238-3988
            li 
              p Las Vegas
              a(href="tel:+7025606797") (702) 560-6797
            li 
              p Little Rock
              a(href="tel:+5012607998") (501) 260-7998
            li 
              p Nashville:
              a(href="tel:+6159530089") (615) 953-0089
            li 
              p Orlando:
              a(href="tel:+4073586683") (407) 358-6683
            li 
              p Tampa Bay:
              a(href="tel:+8137752275") (813) 775-2275
            li 
              p Washington D.C.:
              a(href="tel:+5717339744") (571) 733-9744

  .container-fluid.employers-section
    .container
      .row
        h2 Employers
        p Our proven career support program and relationships with companies mean our graduates find amazing work. Whether you’re looking to join a startup, work at an agency, or get your foot in the door of a large organziation, our team will support you every step of the way. 
      .row
        .col-xs-12.col-md-4
          .employer-icon
            img(src="/images/home/employers/ibm-design-logo.png")
        .col-xs-12.col-md-4
          .employer-icon
            img(src="/images/home/employers/microsoft-logo.png")
        .col-xs-12.col-md-4
          .employer-icon
            img(src="/images/home/employers/github-logo.png")
      .row
        .col-xs-12.col-md-4
          .employer-icon
            img(src="/images/home/employers/amazon-logo.png")
        .col-xs-12.col-md-4
          .employer-icon
            img(src="/images/home/employers/coke-logo.png")
        .col-xs-12.col-md-4
          .employer-icon
            img(src="/images/home/employers/att-logo.png")
      .row
        .col-xs-12.col-md-4
          .employer-icon
            img(src="/images/home/employers/active-network-logo.png")
        .col-xs-12.col-md-4
          .employer-icon
            img(src="/images/home/employers/notre-dame-logo.png")
        .col-xs-12.col-md-4
          .employer-icon
            img(src="/images/home/employers/ally-bank-logo.png")
      .row 
        .col-xs-12.col-md-4
          .employer-icon
            img(src="/images/home/employers/benefit-focus-logo.png")
        .col-xs-12.col-md-4
          .employer-icon
            img(src="/images/home/employers/disruption-logo.png")
        .col-xs-12.col-md-4
          .employer-icon
            img(src="/images/home/employers/sparc-logo.png")
      .row
        .col-xs-12.col-md-4        
          .employer-icon
            img(src="/images/home/employers/boomtown-logo.png")
        .col-xs-12.col-md-4
          .employer-icon
            img(src="/images/home/employers/validic-logo.png")
        .col-xs-12.col-md-4
          .employer-icon
            img(src="/images/home/employers/redhat-logo.png")
      .row
        .col-xs-12.col-md-4
          .employer-icon
            img(src="/images/home/employers/emcien-logo.png")
        .col-xs-12.col-md-4
          .employer-icon
            img(src="/images/home/employers/path-logo.png")
        .col-xs-12.col-md-4
          .employer-icon
            img(src="/images/home/employers/bi-logo.png")
      .row
        .col-xs-12.col-md-4
          .employer-icon
            img(src="/images/home/employers/bronto-logo.png")
        .col-xs-12.col-md-4
          .employer-icon
            img(src="/images/home/employers/fuzzco-logo.png")
        .col-xs-12.col-md-4
          .employer-icon
            img(src="/images/home/employers/prismatic-logo.png")
      .row
        .col-xs-12.col-md-4
          .employer-icon
            img(src="/images/home/employers/spoonflower-logo.png")
        .col-xs-12.col-md-4
          .employer-icon
            img(src="/images/home/employers/cloudspace-logo.png")
        .col-xs-12.col-md-4
          .employer-icon
            img(src="/images/home/employers/chaione-logo.png")
      .row
        .col-xs-12.col-md-4
          .employer-icon
            img(src="/images/home/employers/poetic-logo.png")
        .col-xs-12.col-md-4
          .employer-icon
            img(src="/images/home/employers/cognitect-logo.png")
        .col-xs-12.col-md-4
          .employer-icon
            img(src="/images/home/employers/sparc-logo.png")
      .row.text-center
        .col-xs-12
          .employer-icon
            img(src="/images/home/employers/validic-logo.png")
      .row.text-center
        .col-xs-12   
          a(href="/stories"): .btn.success-stories-btn Read Our Student Success Stories

  .container.sponsors-section
    .row
      .col-xs-12
        h3 Sponsors
    .row
      .col-xs-12
        .sponsors-container
          .sponsor-image
              img(src="/images/home/sponsors/mailchimp.png")
          .sponsor-image
            img(src="/images/home/sponsors/facebook.png")
          .sponsor-image
            img(src="/images/home/sponsors/twitter.png")
          .sponsor-image
            img(src="/images/home/sponsors/squarespace.png")
          .sponsor-image
            img(src="/images/home/sponsors/invision.png")
        .sponsors-container
          .sponsor-image
            img(src="/images/home/sponsors/typekit.png")
          .sponsor-image
            img(src="/images/home/sponsors/softlayer.png")
          .sponsor-image
            img(src="/images/home/sponsors/behance.png")


block scripts
   script(data-cfasync='false', type='text/javascript').
       /*<![CDATA[*/window.olark||(function(c){var f=window,d=document,l=f.location.protocol=="https:"?"https:":"http:",z=c.name,r="load";var nt=function(){
       f[z]=function(){
       (a.s=a.s||[]).push(arguments)};var a=f[z]._={
       },q=c.methods.length;while(q--){(function(n){f[z][n]=function(){
       f[z]("call",n,arguments)}})(c.methods[q])}a.l=c.loader;a.i=nt;a.p={
       0:+new Date};a.P=function(u){
       a.p[u]=new Date-a.p[0]};function s(){
       a.P(r);f[z](r)}f.addEventListener?f.addEventListener(r,s,false):f.attachEvent("on"+r,s);var ld=function(){function p(hd){
       hd="head";return["<",hd,"></",hd,"><",i,' onl' + 'oad="var d=',g,";d.getElementsByTagName('head')[0].",j,"(d.",h,"('script')).",k,"='",l,"//",a.l,"'",'"',"></",i,">"].join("")}var i="body",m=d[i];if(!m){
       return setTimeout(ld,100)}a.P(1);var j="appendChild",h="createElement",k="src",n=d[h]("div"),v=n[j](d[h](z)),b=d[h]("iframe"),g="document",e="domain",o;n.style.display="none";m.insertBefore(n,m.firstChild).id=z;b.frameBorder="0";b.id=z+"-loader";if(/MSIE[ ]+6/.test(navigator.userAgent)){
       b.src="javascript:false"}b.allowTransparency="true";v[j](b);try{
       b.contentWindow[g].open()}catch(w){
       c[e]=d[e];o="javascript:var d="+g+".open();d.domain='"+d.domain+"';";b[k]=o+"void(0);"}try{
       var t=b.contentWindow[g];t.write(p());t.close()}catch(x){
       b[k]=o+'d.write("'+p().replace(/"/g,String.fromCharCode(92)+'"')+'");d.close();'}a.P(2)};ld()};nt()})({
       loader: "static.olark.com/jsclient/loader0.js",name:"olark",methods:["configure","extend","declare","identify"]});
       /* custom configuration goes here (www.olark.com/documentation) */
       olark.configure('box.inline', true);
       olark.identify('1869-542-10-3368');/*]]>*/
     noscript
       a(href='https://www.olark.com/site/1869-542-10-3368/contact', title='Contact us', target='_blank') Questions? Feedback?
       |  powered by 
       a(href='http://www.olark.com?welcome', title='Olark live chat software') Olark live chat software
